.tip-button{
    color: var(--Light-grayish-cyan-1);
    background: var(--Very-dark-cyan);
    border: none;
    outline: none;
    border-radius: 0.3em;
    padding: 0.3em;
    font-size: 1.1em;
    font-weight: var(--fw-700);
    cursor: pointer;

}