.result-wrapper{
    background-color: var(--Very-dark-cyan);
    padding: 2em;
    border-radius: 0.9em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.reset-button{
    width: 100%;
    border: none;
    border-radius: 0.25em;
    font-size: calc(0.7 * var(--Font-size-form-inputs));
    text-transform: uppercase;
    padding: 0.5em;

    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    
    font-weight: var(--fw-700);
    cursor: pointer;
}

.reset-button:disabled{
    cursor: default;
    background-color: var(--Button-Reset-Disabled-bg);
    color: var(--Button-Reset-Disabled-color);
}

.reset-button:hover:enabled{
    background-color: var(--Button-active-bg);
    color: var(--Very-dark-cyan);
}

@media screen and (max-width: 468px) {
    .result-wrapper{
        gap: 3em;
    }
}