.number-of-people > div{
    position: relative;
    display: flex;
    align-items: center;

}

.number-of-people img{
    position: absolute;
    left: 5%;
}

.number-of-people-header{
    display: flex;
    justify-content: space-between;
}

h1.number-of-people-zero-error{
    color: var(--Error-state-color) ;
}
