.wrapper{
    background-color: var(--White);
    width: 80%;
    max-width: 1100px;

    padding: 2em;
    border-radius: 0.75em;

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2em;
}