.tip-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 0.5em;
}

.select-tip h1{
    margin-bottom: 0.7em;
}

.tip-grid button ,
.tip-grid input{
    min-height: 52.23px;
}
